
  <body>
    
    

    <main>

        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" >
                  <div class="card-body p-5 text-center">
        
                    <div class="mb-md-5 mt-md-4 pb-5 ">
                      <img src="/assets/logiApp-logos_black.png"  style="height: 280px;"class="rounded" alt="Cinque Terre">
                      <h4 class="fw-bold mb-2 ">Iniciar Sesión</h4>

                      <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-5">
                          <input type="email" class="form-control" id="inputEmail3">
                        </div>
                      </div>
                      <div class="row mb-3 " >
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Contraseña</label>
                        <div class="col-sm-5">
                          <input type="email" class="form-control" id="inputEmail3">
                        </div>
                      </div>
        
                      
                      
                      <button class="btn btn-secondary mr-1 btn-lg px-5" type="submit">Ingresar</button>
        
                      <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Olvide mi contraseña</a></p>
        
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>

    
    </main>
    
      </body>
    
    