
  <body>
    
    

    <main>
        <app-sidebar></app-sidebar>
    
      <div class="container p-5 my-5 ">
        <h2>Registrar Funcion por Rol</h2>
        <div class="grid">
        <form class="was-validated" [formGroup]="registerFuncrol" (ngSubmit)="AgregarFunrol()">
          
          <div class="row mb-3">
            <label for="sel" class="col-sm-2 col-form-label">Rol</label> 
            <div class="col-sm-2">
              
            <select formControlName="rol" class="form-select" aria-label="Default select example" id="sel" name="sel" required>
                
                <option selected></option>
                <option *ngFor="let rol of roles" [value]="rol.nombre" >{{rol.nombre}}</option>

            </select>
            </div>
          </div>
        <div class="row mb-3">
            <label for="sel" class="col-sm-2 col-form-label">Funcion</label> 
            <div class="col-sm-2">
              
            <select formControlName="funcion" class="form-select" aria-label="Default select example" id="sel" name="sel" required>
                
                <option selected></option>
                <option *ngFor="let f of funciones" [value]="f.name" >{{f.name}}</option>

            </select>
            </div>
        </div>
    
            <button class="btn btn-secondary mr-1"  type="submit">Registrar</button>
            <button class="btn btn-outline-secondary" type="button">Cancelar</button>
            <!-- Button trigger modal -->
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Registro Exitoso</h4>
                    </div>

                </div>
                </div>
            </div>
    
        </form>
      </div>
      </div>
    
    </main>
    
      </body>
    
    