
  <body>
    
    

    <main>
        <app-sidebar></app-sidebar>
    
      <div class="container p-5 my-5 ">
        <h2>Registrar Familia de Productos</h2>
        <div class="grid">
        <form>
          
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-2">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Temperatura</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Humedad()</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Velocidad</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
    
            <button class="btn btn-secondary mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Registrar</button>
            <button class="btn btn-outline-secondary" type="button">Cancelar</button>
            <!-- Button trigger modal -->
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Registro Exitoso</h4>
                    </div>

                </div>
                </div>
            </div>
    
        </form>
      </div>
      </div>
    
    </main>
    
      </body>
    
    