
  <body>
    
    

    <main>
        <app-sidebar></app-sidebar>
    
      <div class="container p-5 my-5 ">
        <h2>Registrar Familia de Productos</h2>
        <div class="grid">
        <form class="was-validated" [formGroup]="registerfamProducts" (ngSubmit)="AgregarFamProduct()">
          
          <div class="row mb-3">
            <label for="uname" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" formControlName="name" id="uname" placeholder="Ingrese nombre" name="uname" required>
              <div class="invalid-feedback">Rellene este campo</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="temp" class="col-sm-2 col-form-label">Temperatura</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="temperature" id="temp" placeholder="Ingrese Temperatura" name="temp" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="hume" class="col-sm-2 col-form-label">Humedad()</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="humidity" id="hume" placeholder="Ingrese Humedad" name="hume" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="velo" class="col-sm-2 col-form-label">Velocidad</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="velocity" id="velo" placeholder="Ingrese Velocidad" name="velo" required>
            </div>
          </div>
    
            <button class="btn btn-secondary mr-1"  type="submit">Registrar</button>
            <button class="btn btn-outline-secondary" type="button">Cancelar</button>
            <!-- Button trigger modal -->
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Registro Exitoso</h4>
                    </div>

                </div>
                </div>
            </div>
    
        </form>
      </div>
      </div>
    
    </main>
    
      </body>
    
    