@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: #cccccc;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .container h2 {
      text-align: center;
  }
  .grid {
      padding-top: 50px;
       
  }
  button {
    margin-right: 10px;
    margin-left: 30px;
    
  }

  a {
      color: white;
  }
  .btn {
      color: white;
  }

  .nav-link.active{
    background-color: #cccccc !important;
    color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }

